body {
    background: linear-gradient(to left, #c5daff 0%, #e0e0e0 100%);
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Navigation Styles */
nav {
    background-color: #34495e;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links li a {
    color: #e0e0e0;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: white;
    background-color: #2c3e50;
    padding: 4px 10px;
    border-radius: 10px;
}

.home-link a {
    font-weight: bold;
    color: #ffffff;
}

/* Hamburger Icon Styles */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: white !important; /* Force the color to be white */
    background: none;
    border: none;
}

/* Responsive Styles for Tablet and Mobile */

/* Tablet View (768px and below) */
@media (max-width: 768px) {
    nav {
        padding: 10px 20px;
        justify-content: space-between;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background-color: #34495e;
        display: none;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .nav-links li a {
        padding: 10px;
        width: 100%;
    }
}

/* Mobile View (480px and below) */
@media (max-width: 480px) {
    body {
        padding: 0;
    }

    nav {
        padding: 5px 10px;
    }

    .nav-links.show {
        top: 40px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li a {
        font-size: 18px;
    }

    .home-link a {
        font-size: 16px;
    }

    .hamburger {
        color: #ffffff !important; /* Ensure white color for the icon */
    }
}



/* Hero Section for Desktop/Laptop */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    top: 80px;
    overflow: hidden;
    position: relative;
}

.hero img {
    position: absolute;
    left: 220px;
    width: 250px;
    top: 50px;
    border-radius: 700px;
    animation: slideInFromLeft 2s forwards;
}

.hero .hero_text {
    position: absolute;
    right: 40px;
    font-size: 20px;
    animation: slideInFromRight 2s forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-130%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(80%);
    }
    100% {
        transform: translateX(0);
    }
}

.social-icons a {
    color: black;
    font-size: 22px;
    margin: 5px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #00d2ff;
    padding: 9px;
}

.hero button {
    background-color: #04b18e;
    color: rgb(17, 235, 64);
    border: none;
    padding: 14px 20px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

.hero button:hover {
    background-color: #00d2ff;
    color: #222;
    padding: 10px;
    cursor: pointer;
}

.hero button {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 122, 255, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 122, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 122, 255, 0);
    }
}

/* Responsive Styles */

/* Tablet View (768px and below) */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        height: auto;
        padding-top: 50px;
        justify-content: center;
        text-align: center;
    }

    .hero img {
        position: static;
        width: 180px;
        margin: 20px 0;
    }

    .hero .hero_text {
        position: static;
        font-size: 18px;
        padding: 0 15px;
        text-align: center;
    }

    .hero h1 {
        font-size: 24px;
    }

    .hero h4 {
        font-size: 16px;
    }

    .social-icons a {
        font-size: 20px;
    }

    .hero button {
        font-size: 16px;
        padding: 10px 16px;
    }
}

/* Mobile View (480px and below) */
@media (max-width: 480px) {
    .hero {
        flex-direction: column;
        height: auto;
        padding-top: 50px;
        justify-content: center;
        text-align: center;
    }

    .hero img {
        position: static;
        width: 300px;
        height: 550px;
        margin: 7px 0;
    }

    .hero .hero_text {
        position: static;
        font-size: 16px;
        padding: 0 10px;
    }

    .hero h1 {
        font-size: 20px;
    }

    .hero h4 {
        font-size: 14px;
    }

    .social-icons a {
        font-size: 18px;
    }

    .hero button {
        font-size: 14px;
        padding: 8px 12px;
    }
}



/* About Section */
.about {
    background: linear-gradient(to right, #dae0e5, #f0f2f6);
    color: #333;
    padding: 0px 40px;
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    max-width: 1000px;
    margin: 30px auto;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    border-radius: 15px;
    border: 1px solid #cfd8dc;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.about:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.about h1 {
    color: #007bff;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.about h4 {
    font-size: 18px;
    margin-top: 0;
    text-align: justify;
    opacity: 0.85;
}

.about h1, .about h4 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
    animation-delay: 0.3s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Skills Section */
.skills-section {
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -40px;
}

.skills-section h2 {
    text-align: center;
    color: #007bff;
    font-size: 36px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.skill-card {
    background-color: #f0f2f6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    position: relative;
    overflow: hidden;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.skill-card h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.skill-card .skill-list {
    list-style: none;
    padding: 0;
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    text-align: center;
}

.skill-card .skill-list li {
    margin-bottom: 8px;
}

.skill-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    transition: 0.3s;
}

.skill-card:hover:before {
    left: -30%;
}

/* Responsive Media Queries */

/* Tablet View (768px and below) */
@media (max-width: 768px) {
    .about {
        padding: 30px 20px;
        margin: 100px auto;
        max-width: 90%;
    }

    .about h1 {
        font-size: 28px;
    }

    .about h4 {
        font-size: 16px;
    }

    .skills-section {
        padding: 40px 10px;
    }

    .skills-section h2 {
        font-size: 28px;
    }

    .skills-grid {
        grid-template-columns: 1fr 1fr;
    }

    .skill-card {
        padding: 20px;
    }

    .skill-card h3 {
        font-size: 20px;
    }

    .skill-card .skill-list li {
        font-size: 14px;
    }
}

/* Mobile View (480px and below) */
@media (max-width: 480px) {
    .about {
        padding: 20px 15px;
        margin: 150px auto;
        max-width: 100%;
    }

    .about h1 {
        font-size: 24px;
    }

    .about h4 {
        font-size: 14px;
    }

    .skills-section {
        padding: 0px 5px;
    }

    .skills-section h2 {
        font-size: 24px;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .skill-card {
        padding: auto;
    }

    .skill-card h3 {
        font-size: 18px;
    }

    .skill-card .skill-list li {
        font-size: 12px;
    }
}


/* Experience Section */
.experience {
    background-color: #f8faff;
    color: #333;
    padding: 40px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    border: 1px solid #cfd8dc;
}

.experience h2 {
    font-size: 30px;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

.job h3 {
    font-size: 24px;
    margin-top: 10px;
    text-align: left;
}

.job-details {
    font-style: italic;
    color: #666;
    margin-bottom: 15px;
}

.job ul {
    list-style-type: none;
    padding: 0;
}

.job li {
    background-color: #e6f1ff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}

.job li:before {
    content: "• ";
    color: #007bff;
    font-size: 20px;
    vertical-align: middle;
    padding-right: 10px;
}

/* Projects Section */
.projects-section {
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.projects-section h2 {
    font-size: 36px;
    color: #007bff;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.project-card {
    background-color: #f0f8ff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 15px;
}

.project-card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.project-link {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #e6f1ff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-link:hover {
    background-color: #007bff;
    color: white;
    transform: translateY(-3px);
}

/* Education Section */
.education {
    background-color: #f8faff;
    color: #333;
    padding: 40px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    border: 1px solid #cfd8dc;
}

.education h2 {
    font-size: 30px;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

.education-details h3 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 5px;
}

.degree {
    font-size: 18px;
    color: #333;
}

.location, .focus, .coursework {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

/* Contact Section */
.contact-section {
    padding: 60px 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: #f8faff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    font-size: 36px;
    color: #007bff;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact-card {
    background: linear-gradient(to right, #e6f1ff, #f0f8ff);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.contact-info {
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.contact-item i {
    color: #007bff;
    font-size: 24px;
    margin-right: 15px;
}

.contact-item a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-item a:hover {
    color: #0056b3;
}

.cta {
    font-size: 16px;
    color: #555;
    margin-top: 20px;
    font-style: italic;
}

.social-media {
    display: flex;
    gap: 20px;
}

.social-icon {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-icon i {
    margin-right: 8px;
    font-size: 20px;
}

.linkedin {
    background-color: #0077b5;
}

.linkedin:hover {
    background-color: #005f87;
    transform: translateY(-3px);
}

.github {
    background-color: #333;
}

.github:hover {
    background-color: #222;
    transform: translateY(-3px);
}

/* Responsive Adjustments */

/* Tablet View (768px and below) */
@media (max-width: 768px) {
    .experience {
        padding: 30px 20px;
        margin: 20px auto;
        max-width: 90%;
    }

    .projects-section {
        padding: 40px 10px;
    }

    .projects-section h2 {
        font-size: 28px;
    }

    .projects-container {
        grid-template-columns: 1fr 1fr;
    }

    .education {
        padding: 30px 20px;
    }

    .contact-section {
        padding: 40px 20px;
    }
}

/* Mobile View (480px and below) */
@media (max-width: 480px) {
    .experience {
        padding: 20px 10px;
        margin: 15px auto;
        max-width: 100%;
    }

    .projects-section {
        padding: 30px 5px;
    }

    .projects-section h2 {
        font-size: 24px;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    .education {
        padding: 20px 10px;
    }

    .contact-section {
        padding: 30px 10px;
    }
}


/* Certifications Section */
.certifications {
    background-color: #e6f1ff; /* Light blue background */
    padding: 20px; /* Padding around the content */
    margin-bottom: 20px; /* Space below the section */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.certifications h3 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 15px; /* Space below the heading */
}

.certifications ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
}

.certifications li {
    background-color: #f0f8ff; /* Even lighter blue background for list items */
    padding: 10px 15px; /* Padding inside each list item */
    margin-bottom: 8px; /* Space between list items */
    border-radius: 5px; /* Rounded corners for list items */
    position: relative; /* Needed for custom bullet positioning */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Soft shadow for each list item */
    font-size: 16px; /* Font size for list content */
}

.certifications li:before {
    content: "•"; /* Custom bullet symbol */
    color: #007bff; /* Blue color to match the theme */
    font-size: 20px; /* Larger bullet size */
    position: absolute; /* Position absolutely within the li */
    left: -10px; /* Position before the start of the text */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center correctly */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .certifications {
        padding: 15px;
        margin-bottom: 15px;
    }

    .certifications li {
        padding: 8px 12px;
    }

    .certifications li:before {
        left: -8px; /* Adjust position slightly for smaller screens */
    }
}
